In [1]:
import pyspark
from pyspark.sql import SparkSession

#Starting Spark Session
spark = SparkSession.builder.getOrCreate()

In [3]:
#Getting Borough data
borough_data = spark.read.csv('data/taxi _zone_lookup.csv', header=True)
borough_data.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [4]:
import pyspark.sql.functions as F
from pyspark.sql.types import *

#Get yellow taxis trip data from 2020
taxis_trips = spark.read.csv('data/tripdata/', header=True)

def get_month(value):
  return value.split("-")[1]
    
    
#Convert to a UDF Function (parameters: the function and its return type)
udf_set_month = F.udf(get_month, StringType())

#Add Month column to the dataset
trips = taxis_trips.withColumn("Month", udf_set_month("tpep_pickup_datetime"))

trips.show()
trips.select(trips.Month).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Month|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----+
|       1| 2020-11-01 00:37:37|  2020-11-01 00:51:45|              1|         1.80|         1|                 N|         246|         137|           1|         10|    3|    0.5|       4.1|           0|                  0.3|        17.9|                 2.5|   11|
|       1| 2020-11-01 00:17:41|  2020-11-01 00:32:22|              2|         2.80|         1|                 Y|         229|           4|           2|       11.5|    3|    0.5|         0|           0|                  0.3|        15.3|                 2.5|   11|
|       1| 2020-11-01 00:42:29|  2020-11-01 01:09:08|              2|         8.10|         1|                 N|         144|          83|           1|         27|    3|    0.5|         2|           0|                  0.3|        32.8|                 2.5|   11|
|       2| 2020-11-01 00:28:59|  2020-11-02 00:00:00|              1|         6.38|         1|                 N|         132|         205|           2|         22|  0.5|    0.5|         0|           0|                  0.3|        23.3|                   0|   11|
|       2| 2020-11-01 00:13:26|  2020-11-01 00:22:59|              1|         1.96|         1|                 N|         166|          42|           2|          9|  0.5|    0.5|         0|           0|                  0.3|        10.3|                   0|   11|
|       2| 2020-11-01 00:09:36|  2020-11-01 00:20:55|              1|         2.59|         1|                 N|          48|         140|           1|       10.5|  0.5|    0.5|       1.7|           0|                  0.3|          16|                 2.5|   11|
|       2| 2020-10-31 23:57:50|  2020-11-01 00:28:08|              1|        18.86|         2|                 N|         132|          75|           1|         52|    0|    0.5|     10.61|        6.12|                  0.3|       69.53|                   0|   10|
|       2| 2020-11-01 00:32:28|  2020-11-01 00:47:34|              1|         5.44|         1|                 N|         236|          83|           2|         17|  0.5|    0.5|         0|           0|                  0.3|        20.8|                 2.5|   11|
|       2| 2020-11-01 00:11:49|  2020-11-01 00:16:36|              1|          .46|         1|                 N|          75|          75|           2|          5|  0.5|    0.5|         0|           0|                  0.3|         6.3|                   0|   11|
|       2| 2020-11-01 00:41:32|  2020-11-01 00:58:10|              1|         3.08|         1|                 N|          75|          42|           1|       13.5|  0.5|    0.5|         2|           0|                  0.3|        16.8|                   0|   11|
|       1| 2020-11-01 00:21:02|  2020-11-01 00:30:15|              1|         1.80|         1|                 N|         137|         234|           1|        8.5|    3|    0.5|         1|           0|                  0.3|        13.3|                 2.5|   11|
|       1| 2020-11-01 00:33:42|  2020-11-01 01:01:20|              2|         6.00|         1|                 N|         234|          41|           1|       22.5|    3|    0.5|         5|           0|                  0.3|        31.3|                 2.5|   11|
|       1| 2020-11-01 00:17:10|  2020-11-01 00:21:47|              2|         1.10|         1|                 N|         263|         141|           1|          6|    3|    0.5|      1.95|           0|                  0.3|       11.75|                 2.5|   11|
|       2| 2020-11-01 00:18:50|  2020-11-01 00:23:27|              3|         1.63|         1|                 N|          48|         238|           1|        6.5|  0.5|    0.5|      1.03|           0|                  0.3|       11.33|                 2.5|   11|
|       1| 2020-11-01 00:02:40|  2020-11-01 00:09:04|              1|         1.70|         1|                 N|         262|         237|           1|        7.5|    3|    0.5|       1.5|           0|                  0.3|        12.8|                 2.5|   11|
|       1| 2020-11-01 00:22:08|  2020-11-01 00:29:28|              1|         2.70|         1|                 N|         140|          74|           1|        9.5|    3|    0.5|       1.7|           0|                  0.3|          15|                 2.5|   11|
|       1| 2020-11-01 00:42:40|  2020-11-01 00:45:52|              1|          .40|         1|                 N|         229|         229|           1|          4|    3|    0.5|      1.95|           0|                  0.3|        9.75|                 2.5|   11|
|       1| 2020-11-01 00:56:44|  2020-11-01 01:00:31|              1|         1.10|         1|                 N|          79|         170|           1|        5.5|    3|    0.5|         1|           0|                  0.3|        10.3|                 2.5|   11|
|       1| 2020-11-01 00:27:14|  2020-11-01 00:31:14|              2|          .70|         1|                 N|         186|          48|           2|          5|    3|    0.5|         0|           0|                  0.3|         8.8|                 2.5|   11|
|       1| 2020-11-01 00:51:39|  2020-11-01 00:58:29|              1|         1.70|         1|                 N|         246|          48|           1|        7.5|    3|    0.5|      2.25|           0|                  0.3|       13.55|                 2.5|   11|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----+
only showing top 20 rows

+-----+
|Month|
+-----+
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   10|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
+-----+
only showing top 20 rows

In [5]:
#Join trip info with borough data
borough_trips = trips.join(borough_data, trips.PULocationID == borough_data.LocationID)
borough_trips.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----+----------+---------+--------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Month|LocationID|  Borough|                Zone|service_zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----+----------+---------+--------------------+------------+
|       1| 2020-11-01 00:37:37|  2020-11-01 00:51:45|              1|         1.80|         1|                 N|         246|         137|           1|         10|    3|    0.5|       4.1|           0|                  0.3|        17.9|                 2.5|   11|       246|Manhattan|West Chelsea/Huds...| Yellow Zone|
|       1| 2020-11-01 00:17:41|  2020-11-01 00:32:22|              2|         2.80|         1|                 Y|         229|           4|           2|       11.5|    3|    0.5|         0|           0|                  0.3|        15.3|                 2.5|   11|       229|Manhattan|Sutton Place/Turt...| Yellow Zone|
|       1| 2020-11-01 00:42:29|  2020-11-01 01:09:08|              2|         8.10|         1|                 N|         144|          83|           1|         27|    3|    0.5|         2|           0|                  0.3|        32.8|                 2.5|   11|       144|Manhattan| Little Italy/NoLiTa| Yellow Zone|
|       2| 2020-11-01 00:28:59|  2020-11-02 00:00:00|              1|         6.38|         1|                 N|         132|         205|           2|         22|  0.5|    0.5|         0|           0|                  0.3|        23.3|                   0|   11|       132|   Queens|         JFK Airport|    Airports|
|       2| 2020-11-01 00:13:26|  2020-11-01 00:22:59|              1|         1.96|         1|                 N|         166|          42|           2|          9|  0.5|    0.5|         0|           0|                  0.3|        10.3|                   0|   11|       166|Manhattan| Morningside Heights|   Boro Zone|
|       2| 2020-11-01 00:09:36|  2020-11-01 00:20:55|              1|         2.59|         1|                 N|          48|         140|           1|       10.5|  0.5|    0.5|       1.7|           0|                  0.3|          16|                 2.5|   11|        48|Manhattan|        Clinton East| Yellow Zone|
|       2| 2020-10-31 23:57:50|  2020-11-01 00:28:08|              1|        18.86|         2|                 N|         132|          75|           1|         52|    0|    0.5|     10.61|        6.12|                  0.3|       69.53|                   0|   10|       132|   Queens|         JFK Airport|    Airports|
|       2| 2020-11-01 00:32:28|  2020-11-01 00:47:34|              1|         5.44|         1|                 N|         236|          83|           2|         17|  0.5|    0.5|         0|           0|                  0.3|        20.8|                 2.5|   11|       236|Manhattan|Upper East Side N...| Yellow Zone|
|       2| 2020-11-01 00:11:49|  2020-11-01 00:16:36|              1|          .46|         1|                 N|          75|          75|           2|          5|  0.5|    0.5|         0|           0|                  0.3|         6.3|                   0|   11|        75|Manhattan|   East Harlem South|   Boro Zone|
|       2| 2020-11-01 00:41:32|  2020-11-01 00:58:10|              1|         3.08|         1|                 N|          75|          42|           1|       13.5|  0.5|    0.5|         2|           0|                  0.3|        16.8|                   0|   11|        75|Manhattan|   East Harlem South|   Boro Zone|
|       1| 2020-11-01 00:21:02|  2020-11-01 00:30:15|              1|         1.80|         1|                 N|         137|         234|           1|        8.5|    3|    0.5|         1|           0|                  0.3|        13.3|                 2.5|   11|       137|Manhattan|            Kips Bay| Yellow Zone|
|       1| 2020-11-01 00:33:42|  2020-11-01 01:01:20|              2|         6.00|         1|                 N|         234|          41|           1|       22.5|    3|    0.5|         5|           0|                  0.3|        31.3|                 2.5|   11|       234|Manhattan|            Union Sq| Yellow Zone|
|       1| 2020-11-01 00:17:10|  2020-11-01 00:21:47|              2|         1.10|         1|                 N|         263|         141|           1|          6|    3|    0.5|      1.95|           0|                  0.3|       11.75|                 2.5|   11|       263|Manhattan|      Yorkville West| Yellow Zone|
|       2| 2020-11-01 00:18:50|  2020-11-01 00:23:27|              3|         1.63|         1|                 N|          48|         238|           1|        6.5|  0.5|    0.5|      1.03|           0|                  0.3|       11.33|                 2.5|   11|        48|Manhattan|        Clinton East| Yellow Zone|
|       1| 2020-11-01 00:02:40|  2020-11-01 00:09:04|              1|         1.70|         1|                 N|         262|         237|           1|        7.5|    3|    0.5|       1.5|           0|                  0.3|        12.8|                 2.5|   11|       262|Manhattan|      Yorkville East| Yellow Zone|
|       1| 2020-11-01 00:22:08|  2020-11-01 00:29:28|              1|         2.70|         1|                 N|         140|          74|           1|        9.5|    3|    0.5|       1.7|           0|                  0.3|          15|                 2.5|   11|       140|Manhattan|     Lenox Hill East| Yellow Zone|
|       1| 2020-11-01 00:42:40|  2020-11-01 00:45:52|              1|          .40|         1|                 N|         229|         229|           1|          4|    3|    0.5|      1.95|           0|                  0.3|        9.75|                 2.5|   11|       229|Manhattan|Sutton Place/Turt...| Yellow Zone|
|       1| 2020-11-01 00:56:44|  2020-11-01 01:00:31|              1|         1.10|         1|                 N|          79|         170|           1|        5.5|    3|    0.5|         1|           0|                  0.3|        10.3|                 2.5|   11|        79|Manhattan|        East Village| Yellow Zone|
|       1| 2020-11-01 00:27:14|  2020-11-01 00:31:14|              2|          .70|         1|                 N|         186|          48|           2|          5|    3|    0.5|         0|           0|                  0.3|         8.8|                 2.5|   11|       186|Manhattan|Penn Station/Madi...| Yellow Zone|
|       1| 2020-11-01 00:51:39|  2020-11-01 00:58:29|              1|         1.70|         1|                 N|         246|          48|           1|        7.5|    3|    0.5|      2.25|           0|                  0.3|       13.55|                 2.5|   11|       246|Manhattan|West Chelsea/Huds...| Yellow Zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----+----------+---------+--------------------+------------+
only showing top 20 rows

# Período do ano em que os táxis são mais utilizados
## Critério: número de viagens

In [6]:
#Group the dataset by month, count the records and order by the count column
borough_trips.groupBy("Month").count().orderBy("count").show()

+-----+-------+
|Month|  count|
+-----+-------+
|   04| 237886|
|   05| 348370|
|   06| 549779|
|   07| 800430|
|   08|1007282|
|   09|1340892|
|   12|1462074|
|   11|1508900|
|   10|1681266|
|   03|3006942|
|   02|6299480|
|   01|6405198|
+-----+-------+

### Os táxis são mais utilizados em janeiro (6405198 viagens)

## Critério: quantidade de passageiros

In [7]:
#Casting passenger_count to Integer, since it is string
new_df = borough_trips.withColumn("passenger_count", borough_trips.passenger_count.cast(IntegerType()))

#Grouping by month and summing the number os passengers
new_df.groupBy("Month").agg(F.sum('passenger_count').alias('Passengers')).orderBy("Passengers").show()

+-----+----------+
|Month|Passengers|
+-----+----------+
|   04|    283231|
|   05|    380451|
|   06|    676814|
|   07|   1016698|
|   08|   1317999|
|   09|   1775148|
|   12|   1934072|
|   11|   1995476|
|   10|   2247303|
|   03|   4357543|
|   02|   9403624|
|   01|   9606865|
+-----+----------+

### O mês de janeiro é o que tem mais passageiros: 9606865